body {
    width: 240px;
    margin: 50px auto;
}

#display {
    width: 240px;
    height: 50px;
    font-size: 24px;
    text-align: right;
    box-sizing: border-box;
}

#botoes {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
}

button {
    height: 60px;
    font-size: 20px;
}
